<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <context-param>
        <param-name>resteasy.server.tracing.type</param-name>
        <param-value>ALL</param-value> <!-- OFF(*), ALL, ON_DEMAND -->
    </context-param>
    <context-param>
        <param-name>resteasy.server.tracing.threshold</param-name>
        <param-value>TRACE</param-value> <!-- SUMMARY, TRACE(*), VERBOSE -->
    </context-param>

</web-app>
